  <!DOCTYPE html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Home</title>
    <!-- plugins:css -->
    <link rel="stylesheet" href="assets/vendors/mdi/css/materialdesignicons.min.css">
    <link rel="stylesheet" href="assets/vendors/css/vendor.bundle.base.css">
    <!-- endinject -->
    <!-- Plugin css for this page -->
    <link rel="stylesheet" href="../assets/vendors/jvectormap/jquery-jvectormap.css">
    <link rel="stylesheet" href="../assets/vendors/flag-icon-css/css/flag-icon.min.css">
    <link rel="stylesheet" href="../assets/vendors/owl-carousel-2/owl.carousel.min.css">
    <link rel="stylesheet" href="../assets/vendors/owl-carousel-2/owl.theme.default.min.css">
    <!-- End plugin css for this page -->
    <!-- inject:css -->
    <!-- endinject -->
    <!-- Layout styles -->
    <link rel="stylesheet" href="assets/css/style.css">
    <!-- End layout styles -->
    <link rel="shortcut icon" href="colby.svg" />
      <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.9.4/Chart.js"></script>
  </head>
  <body>
    <div class="container-scroller">
      <!-- partial:partials/_sidebar.html -->
      
      <!-- partial -->
      <div class="container-fluid page-body-wrapper">

        <!-- partial:partials/_navbar.html -->
        <nav class="navbar p-0 fixed-top d-flex flex-row">
          <div class="navbar-brand-wrapper d-flex d-lg-none align-items-center justify-content-center">
            <a class="navbar-brand brand-logo-mini" href="index.html"><img src="../assets/images/logo-mini.svg" alt="logo" /></a>
          </div>
          <div class="navbar-menu-wrapper flex-grow d-flex align-items-stretch">
            <button class="navbar-toggler navbar-toggler align-self-center" type="button" data-toggle="minimize">
              <span class="mdi mdi-menu"></span>
            </button>
            <ul class="navbar-nav navbar-nav-left">
              <!-- <button type="button" class="btn btn-primary">Back</button> -->
            </ul>
            <ul class="navbar-nav navbar-nav-right">
            
              
              <li class="nav-item dropdown">
                <a class="nav-link count-indicator dropdown-toggle" id="notificationDropdown" href="#" data-toggle="dropdown">
                  <i class="mdi mdi-bell"></i>
                  <span class="count bg-danger"></span>
                </a>
                <div class="dropdown-menu dropdown-menu-right navbar-dropdown preview-list" aria-labelledby="notificationDropdown">
                  <h6 class="p-3 mb-0">Notifications</h6>
                  <div class="dropdown-divider"></div>
                  <a class="dropdown-item preview-item">
                    <div class="preview-thumbnail">
                      <div class="preview-icon bg-dark rounded-circle">
                        <i class="mdi mdi-calendar text-success"></i>
                      </div>
                    </div>
                    <div class="preview-item-content">
                      <p class="preview-subject mb-1">Event today</p>
                      <p class="text-muted ellipsis mb-0"> Just a reminder that you have an event today </p>
                    </div>
                  </a>
                  <div class="dropdown-divider"></div>
                  <a class="dropdown-item preview-item">
                    <div class="preview-thumbnail">
                      <div class="preview-icon bg-dark rounded-circle">
                        <i class="mdi mdi-settings text-danger"></i>
                      </div>
                    </div>
                    <div class="preview-item-content">
                      <p class="preview-subject mb-1">Settings</p>
                      <p class="text-muted ellipsis mb-0"> Update dashboard </p>
                    </div>
                  </a>
                  <div class="dropdown-divider"></div>
                  <a class="dropdown-item preview-item">
                    <div class="preview-thumbnail">
                      <div class="preview-icon bg-dark rounded-circle">
                        <i class="mdi mdi-link-variant text-warning"></i>
                      </div>
                    </div>
                    <div class="preview-item-content">
                      <p class="preview-subject mb-1">Launch Admin</p>
                      <p class="text-muted ellipsis mb-0"> New admin wow! </p>
                    </div>
                  </a>
                  <div class="dropdown-divider"></div>
                  <p class="p-3 mb-0 text-center">See all notifications</p>
                </div>
              </li>
              <li class="nav-item dropdown border-left">
                <a class="nav-link" id="profileDropdown" href="#" data-toggle="dropdown">
                  <div class="navbar-profile">
                    
                    <p class="mb-0 d-none d-sm-block navbar-profile-name">Henry Klein</p>
                    <i class="mdi mdi-menu-down d-none d-sm-block"></i>
                  </div>
                </a>
                <div class="dropdown-menu dropdown-menu-right navbar-dropdown preview-list" aria-labelledby="profileDropdown">
                  <h6 class="p-3 mb-0">Profile</h6>
                  <div class="dropdown-divider"></div>
                  <a class="dropdown-item preview-item">
                    <div class="preview-thumbnail">
                      <div class="preview-icon bg-dark rounded-circle">
                        <i class="mdi mdi-settings text-success"></i>
                      </div>
                    </div>
                    <div class="preview-item-content">
                      <p class="preview-subject mb-1">Settings</p>
                    </div>
                  </a>
                  <div class="dropdown-divider"></div>
                  <a class="dropdown-item preview-item">
                    <div class="preview-thumbnail">
                      <div class="preview-icon bg-dark rounded-circle">
                        <i class="mdi mdi-logout text-danger"></i>
                      </div>
                    </div>
                    <div class="preview-item-content">
                      <p class="preview-subject mb-1">Log out</p>
                    </div>
                  </a>
                  <div class="dropdown-divider"></div>
                  <p class="p-3 mb-0 text-center">Advanced settings</p>
                </div>
              </li>
                <li class="nav-item">
                <a href="login.html" class="btn btn-primary">Log Out</a>
              </li>
            </ul>
            <button class="navbar-toggler navbar-toggler-right d-lg-none align-self-center" type="button" data-toggle="offcanvas">
              <span class="mdi mdi-format-line-spacing"></span>
            </button>
          </div>
        </nav>

        <!-- partial -->
        <div class="main-panel">
          <div class="content-wrapper">

            <!-- Top Row -->
              <div class="row">

                <!-- Readiness Chart -->
              <div class="col-sm-6 grid-margin">
                <div class="card">
                  <div class="card-body">
                    <h5>Readiness</h5>
                    <div class="row">
                      <div class="col-8 col-sm-12 col-xl-6 my-auto">
                        <div class="d-flex d-sm-block d-md-flex align-items-center">
                          <h4 class="mb-0">80%</h4>
                          <p class="text-success ml-2 mb-0 font-weight-medium">+3.5%</p>
                        </div>
                        
                      </div>
                      <div class="col-4 col-sm-12 col-xl-12 text-center text-xl-right">
                         <canvas id=readyChart width="500" height="500"></canvas>
                          <script>
const ctx5 = document.getElementById('readyChart').getContext('2d');
const readyChart = new Chart(ctx5, {
    type: 'doughnut',
    data: {
        labels: ['Readiness'],
        datasets: [{
            label: '# of Votes',
            data: [90, 10],
            backgroundColor: [
                'rgba(153, 102, 255, 0.2)',
                'rgba(42, 35, 45, 0.09)'
            ],
            borderColor: [
                'rgba(153, 102, 255, 1)',
                'rgba(0, 0, 0, 0.53)'
            ],
            hoverOffset: 1
        }]
    }
});
</script>
                        
                      </div>
                        <div class="bg-gray-dark d-flex d-md-block d-xl-flex flex-row py-3 px-4 px-md-3 px-xl-4 rounded mt-3">
                      <div class="text-md-center text-xl-left">
                        <h6 class="mb-1">Readiness is Increasing</h6>
                        <p class="text-muted mb-0">Athlete may be able to handle harder workouts</p>
                      </div>
                    
                    </div>
                    </div>
                    
                      
                  </div>
                </div>
              </div>
              
              <div class="col-sm-3 grid-margin">
                  
                <!-- Sleep chart -->
                <div class="card">
                  <div class="card-body">
                    <h5>Sleep</h5>
                    <div class="row">
                      <div class="col-8 col-sm-12 col-xl-12 my-auto">
                        <div class="d-flex d-sm-block d-md-flex align-items-center">
                          <h4 class="mb-0">6.5h</h4>
                          <p class="text-success ml-2 mb-0 font-weight-medium">+0.3%</p>
                        </div>
                          <br>
                          <canvas id=sleepChart width="500" height="500"></canvas>
                          <script>
const ctx4 = document.getElementById('sleepChart').getContext('2d');
const sleepChart = new Chart(ctx4, {
    type: 'doughnut',
    data: {
        labels: ['REM', 'Light', 'Deep'],
        datasets: [{
            label: '# of Votes',
            data: [6.5, 5, 1.5],
            backgroundColor: [
                'rgba(255, 99, 132, 0.2)',
                'rgba(255, 159, 64, 0.2)',
                'rgba(75, 192, 192, 0.2)',
            ],
            borderColor: [
                'rgba(255, 99, 132, 1)',
                'rgba(255, 159, 64, 1)',
                'rgba(75, 192, 192, 1)',
            ],
            hoverOffset: 1
        }]
    }
    ,
    options: {
        legend: {
            display: false,
            labels: {
                fontSize: 10,
                boxWidth: 5,
                padding: 1
            }
        }
    }
});
</script>
                      </div>
                      <div class="col-4 col-sm-12 col-xl-4 text-center text-xl-right">
                    
                      </div>
                    </div>
                  </div>
                </div>

                <!-- Quality chart -->
                  <div class='row'></div>
            <br>
                  <div class="card">
                <div class="card-body">
                    <h5>Quality</h5>
                    <div class="row">
                      <div class="col-8 col-sm-12 col-xl-12 my-auto">
                        <div class="d-flex d-sm-block d-md-flex align-items-center">
                          <h4 class="mb-0">90%</h4>
                          <p class="text-danger ml-2 mb-0 font-weight-medium">-2.1% </p>
                        </div>
                          <br>
                              </div>
                          </div>
                    <canvas id="recChart" width="500" height="500"></canvas>
                      <script>
const ctx7 = document.getElementById('recChart').getContext('2d');
const recChart = new Chart(ctx7, {
    type: 'doughnut',
    data: {
        labels: ['Qual'],
        datasets: [{
            label: '# of Votes',
            data: [90, 10],
            backgroundColor: [
                'rgba(54, 162, 235, 0.2)',
                'rgba(42, 35, 45, 0.09)'
            ],
            borderColor: [
                'rgba(54, 162, 235, 1)',
                'rgba(0, 0, 0, 0.53)'
            ],
            hoverOffset: 1
        }]
    }
});
</script>
                   
                    
                </div>
                  </div>
              </div>
              <div class="col-sm-3 grid-margin">
                <div class="card">
                  <div class="card-body">

                    <!-- Caloroes chart -->
                    <h5>Calories</h5>
                    <div class="row">
                      <div class="col-8 col-sm-12 col-xl-12 my-auto">
                        <div class="d-flex d-sm-block d-md-flex align-items-center">
                          <h4 class="mb-0">90%</h4>
                          <p class="text-danger ml-2 mb-0 font-weight-medium">-2.1% </p>
                        </div>
                          <br>
                        
                          <canvas id="calChart" width="500" height="500"></canvas>
                      <script>
const ctx3 = document.getElementById('calChart').getContext('2d');
const calChart = new Chart(ctx3, {
    type: 'doughnut',
    data: {
        labels: ['Cal'],
        datasets: [{
            label: '# of Votes',
            data: [90, 10],
            backgroundColor: [
                'rgba(255, 159, 64, 0.2)',
                'rgba(42, 35, 45, 0.09)'
            ],
            borderColor: [
                'rgba(255, 159, 64, 1)',
                'rgba(0, 0, 0, 0.53)'
            ],
            hoverOffset: 1
        }]
    }
});
</script>
                          
                      </div>
                      
                    </div>
                  </div>
                </div>
                  <br>

                  <!-- HR chart -->
                  <div class="card">
                      <div class="card-body">
                          <h6>Heart Rate</h6>
                          <div class="row">
                      <div class="col-8 col-sm-12 col-xl-12 my-auto">
                        <div class="d-flex d-sm-block d-md-flex align-items-center">
                          <h4 class="mb-0">90%</h4>
                          <p class="text-danger ml-2 mb-0 font-weight-medium">-2.1% </p>
                        </div>
                          <br>
                              </div>
                          </div>
                          <canvas id="hrChart" width="500" height="500"></canvas>
                      <script>
const ctx6 = document.getElementById('hrChart').getContext('2d');
const hrChart = new Chart(ctx6, {
    type: 'doughnut',
    data: {
        labels: ['HR'],
        datasets: [{
            label: '# of Votes',
            data: [90, 10],
            backgroundColor: [
                'rgba(75, 192, 192, 0.2)',
                'rgba(42, 35, 45, 0.09)'
            ],
            borderColor: [
                'rgba(75, 192, 192, 1)',
                'rgba(0, 0, 0, 0.53)'
            ],
            hoverOffset: 1
        }]
    }
});
</script>
                      </div>
                      
                  </div>
              </div>
                  
            </div>
            
            
            
            <div class="row ">
                <div class="col-md-6 grid-margin stretch-card">
                <div class="card">
                  <div class="card-body">
                      <div class="row">
                      <div class="col-8 col-sm-12 col-xl-12 my-auto">
                        <div class="d-flex d-sm-block d-md-flex align-items-center">
                          <h4 class="mb-0 text-danger">Lucy Abbott</h4>
                        </div>
                          
                              </div>
                          </div>
                    
                    
                    <div class="bg-gray-dark d-flex d-md-block d-xl-flex flex-row py-3 px-4 px-md-3 px-xl-4 rounded mt-3">
                      <div class="text-md-center text-xl-left">
                        <h6 class="mb-1">Notes</h6>
                        <p class="text-muted mb-0"> Due to stress fracture, trainer has not cleared player.</p>
                      </div>
                      
                    </div>
                      <br>
                      <canvas id="trendsplayer" width="200" height="150"></canvas>
                      <script>
const ctxplayer = document.getElementById('trendsplayer').getContext('2d');
const trendsplayer = new Chart(ctxplayer, {
    type: 'line',
    data: {
        labels: ['9/4', '9/11', '9/18', '9/25', '10/2', '10/9'],
        datasets: [{
            label: 'Recovery',
            data: [12, 19, 3, 5, 2, 3],

            borderColor:'rgba(54, 162, 235, 1)',

            borderWidth: 1
        }, 
                   {
            label: 'Calories',
            data: [70, 60, 50, 40, 30, 20],           
            borderColor:
                'rgba(255, 206, 86, 1)',
                
            borderWidth: 1
        }, 
                   {
            label: 'Readiness',
            data: [50, 50, 50, 50, 50, 50],
        
            borderColor: 
                
                'rgba(153, 102, 255, 1)',
                
            
            borderWidth: 1
        }]
    },
    options: {
        legend: {
            display: true,
            labels: {
                fontSize: 10,
                boxWidth: 5,
                padding: 1
            }
        }
    }
});
</script>
                    
                  </div>
                </div>
              </div>

              <div class="col-md-6 grid-margin stretch-card">
                <div class="card">
                  <div class="card-body">
                      <h5>Sleep</h5>
                      <div class="row">
                  <div class="col-8 col-sm-12 col-xl-12 my-auto">
                    <div class="d-flex d-sm-block d-md-flex align-items-center">
                      <h4 class="mb-0">90%</h4>
                      <p class="text-danger ml-2 mb-0 font-weight-medium">-2.1% </p>
                    </div>
                      <br>
                          </div>
                      </div>
                      <canvas id="trends2" width="200" height="150"></canvas>
                      <script>
const ctx9 = document.getElementById('trends2').getContext('2d');
const trends2 = new Chart(ctx9, {
    type: 'bar',
    data: {
        labels: ['9/4', '9/11', '9/18', '9/25', '10/2', '10/9'],
        datasets: [
                   {
            label: 'Sleep',
            data: [40, 27, 30, 80, 52, 36],
            
            borderColor: 
                'rgba(255, 99, 132, 1)',
            borderWidth: 1
        }, 
                  ]
    },
    options: {
        scales: {
            y: {
                beginAtZero: true
            }
        }
    }
});
</script>
                  </div>
                  
              </div>
                
              </div>
              
            </div>
            
          <!-- content-wrapper ends -->
          <!-- partial:partials/_footer.html -->
          <footer class="footer">
            <div class="d-sm-flex justify-content-center justify-content-sm-between">
              <span class="text-muted text-center text-sm-left d-block d-sm-inline-block">Copyright © 2019 <a href="https://www.bootstrapdash.com/" target="_blank">BootstrapDash</a>. All rights reserved.</span>
              <span class="text-muted float-none float-sm-right d-block mt-1 mt-sm-0 text-center">Hand-crafted & made with <i class="mdi mdi-heart text-danger"></i></span>
            </div>
          </footer>
          <!-- partial -->
        </div>
        <!-- main-panel ends -->
      </div>
      <!-- page-body-wrapper ends -->
    </div>
    <!-- container-scroller -->
    <!-- plugins:js -->
    <script src="assets/vendors/js/vendor.bundle.base.js"></script>
    <!-- endinject -->
    <!-- Plugin js for this page -->
    <script src="../assets/vendors/chart.js/Chart.min.js"></script>
    <script src="../assets/vendors/progressbar.js/progressbar.min.js"></script>
    <script src="../assets/vendors/jvectormap/jquery-jvectormap.min.js"></script>
    <script src="../assets/vendors/jvectormap/jquery-jvectormap-world-mill-en.js"></script>
    <script src="../assets/vendors/owl-carousel-2/owl.carousel.min.js"></script>
    <!-- End plugin js for this page -->
    <!-- inject:js -->
    <script src="assets/js/off-canvas.js"></script>
    <script src="assets/js/hoverable-collapse.js"></script>
    <script src="assets/js/misc.js"></script>
    <script src="assets/js/settings.js"></script>
    <script src="assets/js/todolist.js"></script>
    <!-- endinject -->
    <!-- Custom js for this page -->
    <script src="../assets/js/dashboard.js"></script>
    <!-- End custom js for this page -->
  </body>
</html>

