{% extends "base2.html" %} 


{% block content %}

<link rel="stylesheet" href="{{url_for('static', filename = 'assets/css/coach_dashbord.css')}}">
<link rel="stylesheet" href="static/assets/css/coach_dashboard.css">


<h1>{{ team.team_name }}</h1>
<!-- <a class="nav-link" id="profileDropdown1" href="#" data-toggle="dropdown">
  <div class="navbar-profile">
    <!-- <p class="mb-0 d-none d-sm-block navbar-profile-name">{{ team.team_name }}</p> -->
    <p class="mb-01 d-none1 d-sm-block1 navbar-profile-name">{{ team.team_name }}</p>
    <i id = "profileDropdownArrow" class="mdi mdi-menu-down d-none d-sm-block"></i>
  </div>
  <div class="dropdown-menu" aria-labelledby="profileDropdown1">
    <a class="dropdown-item" href="#">Action</a>
    <a class="dropdown-item" href="#">Another action</a>
    <a class="dropdown-item" href="#">Something else here</a>
  </div>
</a> -->

</br>

              <div class="row">
              <div class="col-sm-4 grid-margin">
                <div class="card">
                  <div class="card-body">
                    <h5 class="text-success {{'text-danger' if watchData[1][4]<80}}">Readiness</h5>
                    <div class="row">
                      <div class="col-8 col-sm-12 col-xl-6 my-auto">
                        <div class="d-flex d-sm-block d-md-flex align-items-center">
                          <h4 class="mb-0">{{watchData[1][4]}}%</h4>
                        </div>
                        
                      </div>
                      <div class="col-4 col-sm-12 col-xl-12 text-center text-xl-right">
                         <canvas id=readyChart width="500" height="500"></canvas>
                        
                        
                      </div>
                        <div class="bg-gray-dark d-flex d-md-block d-xl-flex flex-row py-3 px-4 px-md-3 px-xl-4 rounded mt-3">
                      <div class="text-md-center text-xl-left">
                        <h6 class="mb-1">Readiness is Increasing</h6>
                        <p class="text-muted mb-0">Athletes may be able to handle harder workouts</p>
                      </div>
                    
                    </div>
                    </div>
                    
                      
                  </div>
                </div>
              </div>
              <div class="col-sm-2 grid-margin">
                  
                <div class="card">
                  <div class="card-body">
                    <h5 class="text-success {{'text-danger' if watchData[2][4]<8}}">Sleep</h5>
                    <div class="row">
                      <div class="col-8 col-sm-12 col-xl-12 my-auto">
                        <div class="d-flex d-sm-block d-md-flex align-items-center">
                          <h4 class="mb-0">{{watchData[2][4]}}h</h4>
                          
                        </div>
                          <br>
                          <canvas id=sleepChart width="500" height="500"></canvas>
                          
                      </div>
                      <div class="col-4 col-sm-12 col-xl-4 text-center text-xl-right">
                    
                      </div>
                    </div>
                  </div>
                </div>
                  <div class='row'></div>
            <br>
                  <div class="card">
                <div class="card-body">
                    <h5 class="text-success {{'text-danger' if watchData[9][4]<80}}">Sleep Score</h5>
                    <div class="row">
                      <div class="col-8 col-sm-12 col-xl-12 my-auto">
                        <div class="d-flex d-sm-block d-md-flex align-items-center">
                          <h4 class="mb-0">{{watchData[9][4]}}%</h4>
                          
                        </div>
                          <br>
                              </div>
                          </div>
                    <canvas id="recChart" width="500" height="500"></canvas>
                   
                    
                </div>
                  </div>
              </div>
              <div class="col-sm-2 grid-margin">
                <div class="card">
                  <div class="card-body">
                    <h4 class="text-success {{'text-danger' if watchData[8][4]<10000}}">Steps</h4>
                    <div class="row">
                      <div class="col-8 col-sm-12 col-xl-12 my-auto">
                        <div class="d-flex d-sm-block d-md-flex align-items-center">
                          <h6 class="mb-0">{{watchData[8][4]}}/10,000</h6>
                          
                        </div>
                          <br>
                        
                          <canvas id="stepChart" width="500" height="500"></canvas>
                          
                      </div>
                      
                    </div>
                  </div>
                </div>
                  <br>
                  <div class="card">
                      <div class="card-body">
                          <h6 class="text-success {{'text-danger' if watchData[6][4]>75}}">Resting Heart Rate</h6>
                          <div class="row">
                      <div class="col-8 col-sm-12 col-xl-12 my-auto">
                        <div class="d-flex d-sm-block d-md-flex align-items-center">
                          <h4 class="mb-0">{{watchData[6][4]}}</h4>
                          
                        </div>
                          <br>
                              </div>
                          </div>
                          <canvas id="hrChart" width="500" height="500"></canvas>
                      
                      </div>
                      
                  </div>
              </div>
                  <div class="col-sm-4 grid-margin">
                      <div class=card>
                          <div class=card-body>
                              <h4 class="card-title">Team Trends</h4>
                              <canvas id="trendsplayer" width="200" height="120"></canvas>
                              <br>
                                  <canvas id="trends2" width="300" height="200"></canvas>
                      <script>
const ctx9 = document.getElementById('trends2').getContext('2d');
const trends2 = new Chart(ctx9, {
    type: 'bar',
    data: {
        labels: ['9/4', '9/11', '9/18', '9/25', '10/2', '10/9'],
        datasets: [
                   {
            label: 'Sleep',
            data: [40, 27, 3, 80, 52, 36],
            
            borderColor: 
                'rgba(255, 99, 132, 1)',
            borderWidth: 1
        }, 
                   
                  ]
    },
    options: {
        scales: {
            y: {
                beginAtZero: true
            }
        }
    }
});
</script>
                            
                          </div>
                      </div>
                  </div>
            </div>
            
            
            
            <div class="row ">
              <div class="col-8 grid-margin">
                <div class="card">
                  <div class="card-body">
                    <h4 class="card-title"> Athletes</h4>
                    <div class="table-responsive">
                      <table class="table">
                        <thead>
                            
                            <th> Name </th>
                            <th> Readiness </th>
                            <th> Sleep </th>
                            <th> HR </th>
                            <th> Calories </th>
                            
                            <th> Status </th>
                          </tr>
                        </thead>
                        <tbody>
                          <tr>


                            {%for athlete in team.athletes%}
                              <td>
                                <a href="/coach/athlete/{{ athlete.id }}">
                                  <span class="pl-2">{{athlete.first_name}} {{athlete.last_name}}</span>
                                </a>
                              </td>
                              <td>70% </td>
                              <td> 6.25 hrs </td>
                              <td> 45 bpm </td>
                              <td> 103% </td>
                              
                              <td>

                                {% if athlete.status == 0 %}    
                                <div class="badge badge-outline-success">Cleared</div>
                                {% endif %}

                                {% if athlete.status == 1 %}    
                                <div class="badge badge-outline-warning">Warning</div>
                                {% endif %}

                                {% if athlete.status == 2 %}    
                                <div class="badge badge-outline-danger">Ineligible</div>
                                {% endif %}

                              </td>
                            </tr>
                              
                            {% endfor %}
                            
                        </tbody>
                      </table>
                    </div>
                  </div>
                </div>
              </div>
                <div class="col-md-4 grid-margin stretch-card">
                <div class="card">
                  <div class="card-body">
                      <div class="row">
                      <div class="col-8 col-sm-12 col-xl-12 my-auto">
                        <div class="d-flex d-sm-block d-md-flex align-items-center">
                          <h4 class="mb-0 text-danger">Lucy Abbott</h4>
                        </div>
                          
                              </div>
                          </div>
                    
                    
                    <div class="bg-gray-dark d-flex d-md-block d-xl-flex flex-row py-3 px-4 px-md-3 px-xl-4 rounded mt-3">
                      <div class="text-md-center text-xl-left">
                        <h6 class="mb-1">Notes</h6>
                        <p class="text-muted mb-0"> Due to stress fracture, trainer has not cleared player.</p>
                      </div>
                      
                    </div>
                      <br>
                      <canvas id="trendsplayer" width="200" height="150"></canvas>
                      
                    
                  </div>
                </div>
              </div>
            </div>


{% endblock %}
