{% extends "base.html" %}


{% block content %}



<!-- <a href="{{url_for('static', filename='assets/testdata/hawkins.csv')}}" download>
  <h1>Download Hawkins data</h1>
</a>
<a href="{{url_for('static', filename='assets/testdata/watchData.csv')}}" download>
  <h1>Download watch data</h1>
</a> -->

<div class="row"> <!--start row-->
  <div class="col-xl-6 col-sm-12 grid-margin stretch-card">
    <div class="card">
      <div class="card-body">

        <div class="input-group rounded" style="width: 99%;">
          <input type="text" id="livebox" class="form-control rounded" placeholder="Search" aria-label="Search" aria-describedby="search-addon" style="margin: 0px;" />
          <span class="input-group-text border-0" id="search-addon" style="width: 10%;">
            <i class="fas fa-search"></i>
          </span>
        </div>
        
        <div class="card-body" style="max-height: 500px; overflow: scroll; padding-bottom: 10px; padding-top: 5px;">
          <div class="table-responsive">
            <script>
            function searchResults(data){
              $.ajax({
              method:"post",
              url: "/livesearch",
              data: data,
              success:function(res){
                  console.log(res);
                    var data = "";
                    $.each(res,function(index,value){
                        console.log()
                        href = 'team/' + index
                        data += "<div style='border-top: solid 1px white;'> <a href=" + href + '>' + value +"</a></div>";
                    });
                  
                    $("#datalist").html(data);
              }
          })

            }
        $(document).ready(function(){
          searchResults({text:""})

        $("#livebox").on("input",function(e){
          textinbox=$("#livebox").val();
          console.log(textinbox);
          searchResults({text:textinbox})
        });
    });

</script>
            <table class="table">
              <thead>
                  Team Name
              </thead>
              <p id = "datalist"></p>
              <!-- <tbody>
                <tr>

                {% for team in teams %}
                  <div style="border-top: solid 1px white;"><a href="team/{{ team.id }}">{{ team.team_name }}</a></div>
                {% endfor %}

              </tbody> -->
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>

<div class="col-md-6 col-sm-12 grid-margin stretch-card">
  <div class="card">
    <div class="card-body">
      <table cellpadding="10" cellspacing="20">              
        <tr>
          <th> Team </th>
          <th> Sleep </th>
          <th> Quality </th>
          <th> Readiness </th>
          <th> Calorie Intake </th>
        </tr>            
        <tr>
          <td> Ice Hockey (M) </td>
          <td>  8hs </td>
          <td> 85% </td>
          <td> 78% </td>
          <td> 68%</td>
        </tr>
        <tr>
          <td> Squash (M) </td>
          <td>  8hs </td>
          <td> 85% </td>
          <td> 78% </td>
          <td> 80% </td>
        </tr> 
        <tr>
          <td> Squash (W) </td>
          <td>  8hs </td>
          <td> 85% </td>
          <td> 78% </td>
          <td> 60% </td>
        </tr> 
        <tr>
          <td> Volleybal  </td>
          <td>  8hs </td>
          <td> 85% </td>
          <td> 78% </td>
          <td> 110% </td>
        </tr>                    
      </table>
    </div>
  </div>
</div>
</div> <!-- end row-->
<div class="col-xl-12 col-sm-12 grid-margin stretch-card">
  <div class="card">
    <div class="card-body">
      <div> <button class="btn btn-primary btn-block"> Reports </button> </div>
      <br>
      <div> <a class="btn btn-primary btn-block" href="/new-note">Send notes</a> </div>
      
    </div>
  </div>
</div>
</div>


{% endblock %}