{% extends "base.html" %}


{% block content %}

<div class="page-header">
  <h3 class="page-title"> Permissions </h3>
</div>
<div class="row">
  <div class="col-12 grid-margin stretch-card">
    <div class="card">
      <div class="card-body">
        <h4 class="card-title">Change Permissions</h4>
        <p class="card-description"> Please modify user's permission with caution</p>
        <div class="form-group">
          <label for="exampleFormControlSelect2">Individual Athlete Data</label>
          <select class="form-control" id="exampleFormControlSelect2" style="color: white;">
            <option >View</option>
            <option>Edit</option>
            <option>No Access</option>
          </select>
        </div>
        <div class="form-group">
          <label for="exampleFormControlSelect2">All Athlete Data</label>
          <select class="form-control" id="exampleFormControlSelect2" style="color: white;">
            <option>View</option>
            <option>Edit</option>
            <option>No Access</option>
          </select>
        </div>
        <div class="form-group">
          <label for="exampleFormControlSelect2">Team Data</label>
          <select class="form-control" id="exampleFormControlSelect2" style="color: white;">
            <option>View</option>
            <option>Edit</option>
            <option>No Access</option>
          </select>
        </div>
        <div class="form-group">
          <label for="exampleFormControlSelect2">Notes to Coaches</label>
          <select class="form-control" id="exampleFormControlSelect2" style="color: white;">
            <option>View</option>
            <option>Send</option>
            <option>No Access</option>
          </select>
        </div>
        <div class="form-group">
          <label for="exampleFormControlSelect2">Athlete File</label>
          <select class="form-control" id="exampleFormControlSelect2" style="color: white;">
            <option>Edit</option>
            <option>No Access</option>
          </select>
        </div>
        <div class="form-group">
          <label for="exampleFormControlSelect2">New Account</label>
          <select class="form-control" id="exampleFormControlSelect2" style="color: white;">
            <option>Add and Edit</option>
            <option>No Access</option>
          </select>
        </div>
        <div class="form-group">
          <label for="exampleFormControlSelect2">Delete and Update Account</label>
          <select class="form-control" id="exampleFormControlSelect2" style="color: white;">
            <option>Access Granted</option>
            <option>No Access</option>
          </select>
        </div>
        <div class="form-group">
          <label for="exampleFormControlSelect2">Permissions Acess</label>
          <select class="form-control" id="exampleFormControlSelect2" style="color: white;">
            <option>Access Granted to Change Permissions</option>
            <option>No Access</option>
          </select>
        </div>


        <div class="text-right" href="permission.html">
          <a class="btn btn-primary" href="permission.html">Save</a>
        </div>

      </div>
    </div>
  </div>
</div>


{% endblock %}